### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### other ###
build/
.gradle/
#gradle/
#gradlew
#gradlew.bat
sut/suave/logs/*
sut/suave/mutatedOnt/*.owl
sut/geo/logs/*
sut/geo/temp_geosim.log
sut/suave/for_gustavo/
sut/geo/temp/
sut/geo/mutatedOnt/*.nt
sut/suave/*temp*


# benchmark examples for server
!sut/suave/mutatedOnt/onlySuave04.1.suave.owl
!sut/suave/mutatedOnt/onlySuave04.2.suave.owl
!sut/suave/mutatedOnt/onlySuave05.*.suave.owl
!sut/suave/mutatedOnt/onlySuave06.*.suave.owl
!sut/suave/mutatedOnt/onlySuave07.*.suave.owl
!sut/suave/mutatedOnt/onlySuave08.*.suave.owl



!sut/geo/mutatedOnt/thirdTest.*.nt



sut/suave/mutatedOnt/temp.csv

org/smolang/robust/sut/suave/mutatedOnt/temp*
*synctex.gz

sut/suave/evaluation/plotAttemps.aux
sut/suave/evaluation/plotAttemps.log
sut/suave/evaluation/plotAttemps.pdf
src/test/resources/geo/generatedMask.ttl
src/test/resources/suave/generatedMask.ttl
sut/geo/masks/maskTemp.ttl

# old contracts (that did not rely on SHACL shapes)
sut/geo/contracts
sut/suave/contracts

test_system.log
sut/geo/benchmark_runs/tobias-HP/*
sut/geo/testResults/*
!sut/geo/testResults/ISSRE
sut/geo/mutatedOnt/*
!sut/geo/mutatedOnt/ISSRE

sut/suave/mutatedOnt/*
!sut/suave/mutatedOnt/ISSRE
sut/suave/testResults/*
!sut/suave/testResults/ISSRE


results/evaluation.pdf
sut/suave/evaluation/attemptsPerMask.csv


sut/reasoners/test_ontologies/temp/*
sut/reasoners/temp/oracle_output_temp.txt
sut/reasoners/fuzzingResults/tobias-HP/*
sut/reasoners/evaluation/*.aux
sut/reasoners/evaluation/*.log
sut/suave/evaluation/*.aux
sut/suave/evaluation/*.log




cheatSheet.temp
.idea/*
src/test/resources/abc/temp_classes.ttl
src/test/resources/abc/temp.ttl
sut/suave/evaluation/*.aux
sut/reasoners/temp/*
sut/suave/evaluation/featureCountSuaveFormatted.csv
planner/planerLog.log
examples/*/temp.owl
src/test/resources/*/temp*.*
src/test/resources/reasoners/temp.owl

sut/reasoners/temp.*
src/test/resources/graphs/attemptsPerMaskSuave.csv

# documentation
docs/*
.readthedocs.yaml
mkdocs.yml
src/test/resources/graphs/geoInputCoverage.csv
examples/wiki/minimal/outputKG.ttl
examples/wiki/allFeatures/outputKG.ttl
examples/wiki/elMutations/mutatedOnt.owl
src/test/resources/tempOutputs/*
examples/swrl/temp.ttl


# computed jar file
rdfmutate.jar
logbackWARN.xml


# other files to ignore
evaluation/*.pdf
evaluation/*.log
evaluation/*.aux
examples/ont-api-problem-saved.ttl
logo/draft.svg.*.svg
yamlScetch.txt
sut/suave/catalog-v001.xml
