### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### other ###
build/
.gradle/
gradle/
gradlew
gradlew.bat
sut/suave/logs/*
sut/suave/mutatedOnt/*.owl
sut/geo/logs/*
sut/geo/temp_geosim.log
sut/suave/for_gustavo/
sut/geo/temp/
sut/geo/mutatedOnt/*.nt
sut/suave/*temp*


# benchmark examples for server
!sut/suave/mutatedOnt/onlySuave04.1.suave.owl
!sut/suave/mutatedOnt/onlySuave04.2.suave.owl
!sut/suave/mutatedOnt/onlySuave05.*.suave.owl
!sut/suave/mutatedOnt/onlySuave06.*.suave.owl
!sut/suave/mutatedOnt/onlySuave07.*.suave.owl
!sut/suave/mutatedOnt/onlySuave08.*.suave.owl



!sut/geo/mutatedOnt/thirdTest.*.nt



sut/suave/mutatedOnt/temp.csv

org/smolang/robust/sut/suave/mutatedOnt/temp*
*synctex.gz

sut/suave/evaluation/plotAttemps.aux
sut/suave/evaluation/plotAttemps.log
sut/suave/evaluation/plotAttemps.pdf
src/test/resources/geo/generatedMask.ttl
src/test/resources/suave/generatedMask.ttl
sut/geo/masks/maskTemp.ttl

# old contracts (that did not rely on SHACL shapes)
sut/geo/contracts
sut/suave/contracts

test_system.log
sut/geo/benchmark_runs/tobias-HP/*
sut/geo/testResults/*
!sut/geo/testResults/ISSRE
sut/geo/mutatedOnt/*
!sut/geo/mutatedOnt/ISSRE

sut/suave/mutatedOnt/*
!sut/suave/mutatedOnt/ISSRE
sut/suave/testResults/*
!sut/suave/testResults/ISSRE


results/evaluation.pdf
sut/suave/evaluation/attemptsPerMask.csv


sut/reasoners/test_ontologies/temp/*
sut/reasoners/temp/oracle_output_temp.txt
sut/reasoners/fuzzingResults/tobias-HP/*
sut/reasoners/evaluation/*.aux
sut/reasoners/evaluation/*.log
sut/reasoners/evaluation/inputCoverage.pdf
sut/reasoners/temp/*
sut/suave/evaluation/*.aux
sut/suave/evaluation/*.log

target/
.idea/libraries/*
.idea/modules/*
results/*.pdf
sut/reasoners/temp_ontologies_ore/*.owl
sut/reasoners/foundBugs/P_known*
sut/reasoners/foundBugs/noBug/*
sut/reasoners/foundBugs/P_noEL?/*
sut/reasoners/testInputsToMinimize/output*
sut/reasoners/testInputsToMinimize/subset/*
